.row {
    display: flex;
    gap: 10px;

    mat-form-field{
        width: 100%;
    }
    mat-radio-group{
        width: 100%;
    }

}
.content {
    padding: 30px;
}

#form-title {
    align-items: center;
    justify-content: center;
    margin: auto;
}

#form-actions {
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    button{
        width: 200px;
    }
}
